@import "../../../src/assets/less/contants";

.cz-czContainer {
  width: 100vw;
  height: 100vh;
  background-color: @bgColor;
  display: flex;
  flex-direction: column;

  > .cz-body-wrapper {
    flex: 1;
  }
}